.container {
    display: grid;
    grid-template-areas: "header header" "sidebar content";
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}