<div class="container" [style.backgroundColor]="defaulColor">
    <div class="headline">
        <mat-form-field floatLabel="never" color="accent">
            <input matInput placeholder="Введите заголовок" value="" />
        </mat-form-field>
    </div>
    <div class="content">
        <mat-form-field floatLabel="never" color="accent">
            <textarea matInput placeholder="Текст заметки">{{note.noteText}}</textarea>
        </mat-form-field>
    </div>

    <div class="settings">
	<button class="bot1" routerLink="/editnodes">Редактировать</button>
        <mat-form-field floatLabel="never">
            <input matInput placeholder="Введите категорию">
        </mat-form-field>
        <div class="color-board" *ngIf="openedColorBoard">
            <button class="button-color" *ngFor="let color of colors" [style.backgroundColor]="color" (click)="changeColor(color)">
            </button>
        </div>
        <button class="color-board-button" mat-fab color="primary" class="color-board-button" (click)="openColorBoard()">Цвет</button>
        <button routerLink="/" mat-button>Закрыть</button>
    </div>


</div>