<mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="opened">
        <button mat-button>Закладки</button>
        <div class="category">
            <button mat-button>Список категорий</button>
            <button routerLink="/editcategory" mat-button>Редактировать категории</button>
        </div>
        <button mat-button>Архив</button>
        <button mat-button>Корзина</button>
    </mat-sidenav>
    <mat-sidenav-content>
	<button routerLink="/addnodes" mat-button>Добавить заметку</button>
        <app-text-nodes></app-text-nodes>
    </mat-sidenav-content>
</mat-sidenav-container>