<mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="opened">
        <button mat-button>Закладки</button>
        <button mat-button>Список категорий</button>
        <button mat-button>Редактировать категории</button>
        <button mat-button>Архив</button>
        <button mat-button>Корзина</button>
    </mat-sidenav>
    <mat-sidenav-content>
	<div class="container">
   <form>
    <div class="group">      
      <input type="text"  required>
      <span class="bar"></span>
      <label>Тема заметки</label>
    </div>
    <div class="group">      
      <input type="text"  required>
      <span class="bar"></span>
      <label>Текст заметки</label>
    </div>
	<button class="button">Добавить</button>
  </form>  
</div>
	</mat-sidenav-content>
</mat-sidenav-container>
